@charset "UTF-8";
:root {
  --font-primary: "DM Sans", "Roboto", sans-serif;
  --light-primary: #ebeced;
  --dark-primary: #0d0d1f;
  --accedent-primary: #465c5c;
}

/* dm-sans-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/dmsans/dm-sans-v15-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/dmsans/dm-sans-v15-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/dmsans/dm-sans-v15-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dmsans/dm-sans-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/dmsans/dm-sans-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/dmsans/dm-sans-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dmsans/dm-sans-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/dmsans/dm-sans-v15-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-sans-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/dmsans/dm-sans-v15-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
select.active.focus,
select.active:focus,
select.focus,
select:active.focus,
select:active:focus,
select:focus,
textarea.active.focus,
textarea.active:focus,
textarea.focus,
textarea:active.focus,
textarea:active:focus,
textarea:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--dark-primary) !important;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark-primary);
  border-radius: 20px;
  border: 3px solid var(--accedent-primary);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--accedent-primary) var(--dark-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body,
html {
  background-color: var(--dark-primary);
  overflow-x: hidden;
}

#circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
  pointer-events: none;
  transition: left 0.2s ease, top 0.2s ease;
}

section {
  width: 100vw;
  height: 100vh;
}
section.portfolio {
  height: auto;
  position: relative;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 25px;
  left: 25px;
  background-color: var(--light-primary);
  border: none;
  cursor: pointer;
  transform: translateY(2.5px);
  z-index: 999;
}
.btn#btnClose {
  display: none;
}
.btn__group {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btn--outline {
  padding: 20px;
  border: 1px solid var(--accedent-primary);
  border-radius: 10px;
  background-color: transparent;
  color: var(--light-primary);
  cursor: pointer;
  font-weight: 300;
  text-decoration: none;
  transform: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 555;
}
.btn--outline:hover {
  transform: translateX(0) scale(1.1) translateY(0);
  transition: all 0.3s ease-in-out;
}
.btn--fill {
  padding: 20px;
  border: 1px solid var(--light-primary);
  border-radius: 10px;
  background-color: var(--accedent-primary);
  color: var(--light-primary);
  cursor: pointer;
  font-weight: 300;
  text-decoration: none;
  transform: none;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 555;
}
.btn--fill:hover {
  transform: translateX(0) scale(1.1) translateY(0);
  transition: all 0.3s ease-in-out;
}
.btn--down {
  position: relative;
  -webkit-animation: moveUpDown 2s infinite, blink 3s infinite;
          animation: moveUpDown 2s infinite, blink 3s infinite;
}
.btn--big {
  font-size: 36px;
  border-radius: 50px;
}
@media screen and (max-width: 1223.98px) {
  .btn--big {
    display: none;
  }
}

@-webkit-keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@-webkit-keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}
.nav {
  width: 100%;
  max-width: 320px;
  height: 100vh;
  background-color: var(--light-primary);
  position: fixed;
  z-index: 9999;
  transition: -webkit-clip-path 0.5s ease;
  transition: clip-path 0.5s ease;
  transition: clip-path 0.5s ease, -webkit-clip-path 0.5s ease;
  -webkit-clip-path: circle(30px at 50px 50px);
          clip-path: circle(30px at 50px 50px);
}
.nav__list {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.nav__item {
  transition: all 0.3s ease-in-out;
}
.nav__item:hover {
  transform: translateY(0) scale(1.1) translateY(0);
  transition: all 0.3s ease-in-out;
}
.nav__link {
  text-decoration: none;
  color: var(--accedent-primary);
  font-size: 30px;
}

.hero {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  padding: 10vh 15vw 0;
}

.stroke {
  position: absolute;
  bottom: 0;
  display: inline-block;
  font-size: 30vh;
  font-weight: 900;
  color: var(--light-primary);
  opacity: 0.1;
  -webkit-animation: marquee 30s linear infinite;
          animation: marquee 30s linear infinite;
  z-index: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-45%);
  }
  50.01% {
    transform: translateX(-45%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-45%);
  }
  50.01% {
    transform: translateX(-45%);
  }
  100% {
    transform: translateX(0%);
  }
}
.wrap {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
}
.wrap__item {
  width: 100%;
  height: 100%;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.wrap__item .btn--fill {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  border: none;
}
.wrap__item--portfolio {
  flex: 0 0 calc(50% - 80px);
}
.wrap__item--form {
  align-items: center;
}
.wrap__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 555;
}
@media screen and (max-width: 1459px) {
  .wrap__img {
    display: none;
  }
}
.wrap__img--portfolio {
  border-radius: 50px;
}
@media screen and (max-width: 1459px) {
  .wrap__img--portfolio {
    display: block;
  }
}
.wrap--portfolio {
  align-items: center;
  gap: 80px;
}
.wrap--form {
  gap: 80px;
}
.wrap--info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pre-title {
  font-size: 30px;
  color: var(--accedent-primary);
  text-transform: uppercase;
  letter-spacing: 10px;
}

.title {
  font-size: 88px;
  color: var(--light-primary);
}
.title--center {
  text-align: center;
  white-space: nowrap;
}
@media screen and (max-width: 767.98px) {
  .title--center {
    font-size: 64px;
    white-space: wrap;
  }
}
.title--color {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 20px;
}
.title--color .hover {
  font-weight: 900;
}
.title--color .hover:hover {
  color: var(--accedent-primary);
}
.title--color .clean {
  font-weight: 300;
}
.title--color .clean:hover {
  color: var(--light-primary);
}
.title--section {
  min-height: 60px;
  font-size: 24px;
  font-weight: 700;
  color: var(--light-primary);
}
.title--gradient {
  background-color: var(--accedent-primary);
  background-image: radial-gradient(circle, rgb(235, 237, 237) 0%, rgb(50, 75, 74) 48%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
}
.title--form {
  text-align: center;
  line-height: 1;
}
.title .color {
  color: var(--accedent-primary);
}

.desc--section {
  color: var(--light-primary);
  font-weight: 200;
}
.desc--form {
  color: var(--light-primary);
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}
.desc--info {
  color: var(--light-primary);
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow: hidden;
  position: relative;
  padding: 10vh 15vw 10vh;
}
.about__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.about__img--mountain {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__img--planets {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: scale(1.2) translateY(-100px) translateX(150px);
}
.about__img--stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#scrollDown {
  -webkit-animation: scrollDownAnimation 2s infinite;
          animation: scrollDownAnimation 2s infinite;
}

@-webkit-keyframes scrollDownAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scrollDownAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
.courses {
  overflow: hidden;
  position: relative;
  padding: 10vh 15vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.courses__header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 20px;
}
.courses__quote {
  color: var(--light-primary);
  text-align: right;
  margin-right: 10vw;
  font-weight: 300;
}
.courses hr {
  position: absolute;
  top: 20px;
  right: -21%;
  width: 35%;
}
.courses__title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.courses__img {
  width: 250px;
  height: 100px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1223.98px) {
  .courses__img {
    display: none;
  }
}
.courses__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}
.courses__item {
  width: 100%;
  flex: 1 1 33.3333333333%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--accedent-primary);
  padding: 35px 25px;
}
.courses__item:hover {
  background-color: var(--light-primary);
}
.courses__item:hover h3, .courses__item:hover p {
  color: var(--dark-primary);
}
.courses__item:hover p {
  font-weight: 400;
}
.courses__progress {
  width: 100%;
  z-index: 3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  padding: 50px;
  text-align: center;
  color: var(--light-primary);
  font-size: 36px;
}
.courses__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  padding: 10vh 15vw;
}
.courses__course {
  list-style-type: disc;
  color: var(--accedent-primary);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 25px;
}
.courses__course li {
  font-size: 24px;
}
.courses__course li:first-child {
  list-style: none;
  margin-left: -25px;
}

.progressBar {
  width: 100%;
  height: 10px;
  background: rgb(235, 237, 237);
  background: radial-gradient(circle, rgb(235, 237, 237) 0%, rgb(50, 75, 74) 68%);
  transition: width 0.3s, transform 0.3s;
  position: absolute; /* Абсолютное позиционирование внутри блока .portfolio__progress */
  left: 0; /* Начальное положение по горизонтали */
  right: 0;
  top: 170px; /* Начальное положение по вертикали */
  margin: 0 auto;
}

.portfolio {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.portfolio__title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.portfolio__progress {
  width: 100%;
  padding: 50px;
  text-align: center;
  color: var(--light-primary);
  background-color: var(--dark-primary);
  font-size: 36px;
  transition: top 0.3s;
  position: relative;
  z-index: 1000;
}
.portfolio__progress.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.portfolio__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  padding: 10vh 15vw;
}
.portfolio__course {
  list-style-type: disc;
  color: var(--accedent-primary);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 25px;
}
.portfolio__course li {
  font-size: 24px;
}
.portfolio__course li:first-child {
  list-style: none;
  margin-left: -25px;
}

.contacts {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  padding: 10vh 15vw;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__input {
  width: 100%;
  padding: 20px;
  background-color: transparent;
  border: 1px solid var(--accedent-primary);
  border-radius: 5px;
  color: var(--light-primary);
  font-size: 18px;
}
.form__input::-moz-placeholder {
  color: var(--light-primary);
}
.form__input:-ms-input-placeholder {
  color: var(--light-primary);
}
.form__input::placeholder {
  color: var(--light-primary);
}
.form__input:active, .form__input:focus {
  border: 1px solid var(--light-primary);
}
.form__btn {
  width: 100%;
  min-width: 100%;
  font-size: 18px;
}
.form__btn:hover {
  transform: translateX(0) scale(1) translateY(0);
  transition: all 0.3s ease-in-out;
}

.pulse {
  -webkit-animation: pulsate 2s infinite;
          animation: pulsate 2s infinite;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}