:root {
    --font-primary: "DM Sans", "Roboto", sans-serif;
    --light-primary: #ebeced;
    --dark-primary: #0d0d1f;
    --accedent-primary: #465c5c;
}

@import "_fonts";
@import "_mixins";
@import "_outline";
@import "_scrollbar";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body,
html {
    background-color: var(--dark-primary);
    overflow-x: hidden;
}

#circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    pointer-events: none;
    transition: left 0.2s ease, top 0.2s ease;
}

section {
    width: 100vw;
    height: 100vh;
    &.courses {
        @media screen and (max-width: 1629.98px) {
            height: auto;
        }
    }
    &.portfolio {
        height: auto;
        position: relative;
    }
    &.contacts {
        @media screen and (max-width: 991.98px) {
            height: auto;
        }
    }
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 25px;
    left: 25px;
    background-color: var(--light-primary);
    border: none;
    cursor: pointer;
    transform: translateY(2.5px);
    z-index: 999;
    &#btnClose {
        display: none;
    }
    &__group {
        display: flex;
        align-items: center;
        gap: 20px;
        @media screen and (max-width: 767.98px) {
            flex-wrap: wrap;
        }
    }
    &--outline {
        padding: 20px;
        border: 1px solid var(--accedent-primary);
        border-radius: 10px;
        background-color: transparent;
        color: var(--light-primary);
        cursor: pointer;
        font-weight: 300;
        text-decoration: none;
        transform: none;
        transition: all 0.3s ease-in-out;
        position: relative;
        z-index: 555;
        &:hover {
            transform: translateX(0) scale(1.1) translateY(0);
            transition: all 0.3s ease-in-out;
        }
        @media screen and (max-width: 767.98px) {
            width: 100%;
            min-width: 100%;
        }
    }
    &--fill {
        padding: 20px;
        border: 1px solid var(--light-primary);
        border-radius: 10px;
        background-color: var(--accedent-primary);
        color: var(--light-primary);
        cursor: pointer;
        font-weight: 300;
        text-decoration: none;
        transform: none;
        transition: all 0.3s ease-in-out;
        position: relative;
        z-index: 555;
        &:hover {
            transform: translateX(0) scale(1.1) translateY(0);
            transition: all 0.3s ease-in-out;
        }
        @media screen and (max-width: 767.98px) {
            width: 100%;
            min-width: 100%;
        }
    }
    &--down {
        position: relative;
        animation: moveUpDown 2s infinite, blink 3s infinite;
    }
    &--big {
        font-size: 36px;
        border-radius: 50px;
        @media screen and (max-width: 1223.98px) {
            display: none;
        }
    }
}

@keyframes moveUpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
}

.nav {
    width: 100%;
    max-width: 320px;
    height: 100vh;
    background-color: var(--light-primary);
    position: fixed;
    z-index: 9999;
    transition: clip-path 0.5s ease;
    clip-path: circle(30px at 50px 50px);
    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    &__item {
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: translateY(0) scale(1.1) translateY(0);
            transition: all 0.3s ease-in-out;
        }
    }
    &__link {
        text-decoration: none;
        color: var(--accedent-primary);
        font-size: 30px;
    }
}

.hero {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    padding: 10vh 10vw 0;
}

.stroke {
    position: absolute;
    bottom: 0;
    display: inline-block;
    font-size: 30vh;
    font-weight: 900;
    color: var(--light-primary);
    opacity: 0.1;
    animation: marquee 30s linear infinite;
    z-index: 0;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-45%);
    }
    50.01% {
        transform: translateX(-45%);
    }
    100% {
        transform: translateX(0%);
    }
}

.wrap {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    &__item {
        width: 100%;
        height: 100%;
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        & .btn--fill {
            max-width: 125px;
            border: none;
            @media screen and (max-width: 991.98px) {
                max-width: fit-content;
                text-align: center;
            }
        }
        &--hero {
            opacity: 0;
            position: relative;
            z-index: 999;
        }
        &--left {
            animation: slideInFromLeft 1s forwards;
        }
        &--right {
            animation: slideInFromRight 1s forwards;
        }
        &--portfolio {
            flex: 0 0 calc(50% - 80px);
            @media screen and (max-width: 1223.98px) {
                flex: 1 1 calc(100% - 40px);
                align-items: center;
                &:nth-child(2) {
                    display: flex !important;
                    text-align: left;
                }
            }
        }
        &--form {
            align-items: center;
            @media screen and (max-width: 991.98px) {
                &:nth-child(2) {
                    display: flex !important;
                }
            }
        }
        @media screen and (max-width: 991.98px) {
            align-items: center;
            text-align: center;
            &:nth-child(2) {
                display: none;
            }
        }
    }
    &__img {
        width: auto;
        height: 100%;
        object-fit: contain;
        position: relative;
        z-index: 555;
        @media screen and (max-width: 991.98px) {
            display: none;
        }
        &--portfolio {
            width: 100%;
            border-radius: 50px;
            @media screen and (max-width: 1223.98px) {
                display: flex;
                width: 100%;
                height: auto;
                border-radius: 25px;
            }
        }
    }
    &--portfolio {
        align-items: center;
        gap: 80px;
        @media screen and (max-width: 1223.98px) {
            flex-direction: column-reverse;
            gap: 40px;
        }
    }
    &--form {
        gap: 80px;
        @media screen and (max-width: 991.98px) {
            display: flex;
            flex-direction: column;
        }
    }
    &--info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.pre-title {
    font-size: calc(1em + 1.5vw);
    color: var(--accedent-primary);
    text-transform: uppercase;
    letter-spacing: 10px;
}

.title {
    font-size: calc(1em + 5vw);
    color: var(--light-primary);
    &--center {
        text-align: center;
        white-space: nowrap;
        @media screen and (max-width: 767.98px) {
            white-space: wrap;
        }
    }
    &--color {
        display: flex;
        white-space: nowrap;
        align-items: center;
        gap: 20px;
        line-height: 1;
        & .hover {
            font-weight: 900;
            &:hover {
                color: var(--accedent-primary);
            }
        }
        & .clean {
            font-weight: 300;
            &:hover {
                color: var(--light-primary);
            }
        }
    }
    &--section {
        min-height: 60px;
        font-size: calc(1em + 0.5vw);
        font-weight: 700;
        color: var(--light-primary);
    }
    &--gradient {
        font-size: calc(1em + 3vw);
        background-color: var(--accedent-primary);
        background-image: radial-gradient(circle, rgb(235, 237, 237) 0%, rgb(50, 75, 74) 48%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        background-clip: text;
    }
    &--form {
        font-size: calc(1em + 3vw);
        text-align: center;
        line-height: 1;
    }
    &--portfolio {
        font-size: calc(1em + 2vw);
    }
    & .color {
        color: var(--accedent-primary);
    }
}

.desc {
    &--section {
        color: var(--light-primary);
        font-weight: 200;
    }
    &--form {
        color: var(--light-primary);
        font-size: 24px;
        font-weight: 900;
        text-align: center;
    }
    &--info {
        color: var(--light-primary);
        font-size: 16px;
        text-decoration: none;
        text-align: center;
    }
}

.about {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    overflow: hidden;
    position: relative;
    padding: 10vh 15vw 10vh;
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        &--mountain {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: auto;
            object-fit: contain;
        }
        &--planets {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: 100%;
            object-fit: contain;
            transform: scale(1.2) translateY(-100px) translateX(150px);
        }
        &--stars {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

#scrollDown {
    animation: scrollDownAnimation 2s infinite;
}

@keyframes scrollDownAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

.courses {
    overflow: hidden;
    position: relative;
    padding: 10vh 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &__header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin-bottom: 20px;
    }
    &__quote {
        max-width: 220px;
        color: var(--light-primary);
        text-align: right;
        margin-right: 10vw;
        font-weight: 300;
    }
    & hr {
        position: absolute;
        top: 20px;
        right: -21%;
        width: 35%;
    }
    &__title {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__img {
        width: 250px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;
        @media screen and (max-width: 1223.98px) {
            display: none;
        }
    }
    &__list {
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
    }
    &__item {
        width: 100%;
        flex: 1 1 calc(100% / 3);
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid var(--accedent-primary);
        padding: 35px 25px;
        &:hover {
            background-color: var(--light-primary);
            & h3,
            & p {
                color: var(--dark-primary);
            }
            & p {
                font-weight: 400;
            }
        }
        @media screen and (min-width: 992px) and (max-width: 1449.98px) {
            flex: 1 1 calc(100% / 2);
        }
        @media screen and (max-width: 991.98px) {
            flex: 1 1 100%;
        }
    }
    &__progress {
        width: 100%;
        z-index: 3;
        position: sticky;
        top: 0;
        left: 0;
        padding: 50px;
        text-align: center;
        color: var(--light-primary);
        font-size: 36px;
    }
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        padding: 10vh 15vw;
    }
    &__course {
        list-style-type: disc;
        color: var(--accedent-primary);
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 25px;
        & li {
            font-size: 24px;
            &:first-child {
                list-style: none;
                margin-left: -25px;
            }
        }
    }
}

.progressBar {
    width: 100%;
    height: 10px;
    background: rgb(235, 237, 237);
    background: radial-gradient(circle, rgb(235, 237, 237) 0%, rgb(50, 75, 74) 68%);
    transition: width 0.3s, transform 0.3s;
    position: absolute;
    left: 0;
    right: 0;
    top: 170px;
    margin: 0 auto;
    @media screen and (min-width: 320px) and (max-width: 558.98px) {
        top: 200px;
    }
}

.portfolio {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    &__title {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__progress {
        width: 100%;
        padding: 50px;
        text-align: center;
        color: var(--light-primary);
        background-color: var(--dark-primary);
        font-size: 36px;
        transition: top 0.3s;
        position: relative;
        z-index: 1000;
        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }
    }
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        padding: 10vh 10vw;
    }
    &__course {
        list-style-type: disc;
        color: var(--accedent-primary);
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 25px;
        & li {
            font-size: 24px;
            &:first-child {
                list-style: none;
                margin-left: -25px;
            }
        }
    }
}

.contacts {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    padding: 10vh 15vw;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__input {
        width: 100%;
        padding: 20px;
        background-color: transparent;
        border: 1px solid var(--accedent-primary);
        border-radius: 5px;
        color: var(--light-primary);
        font-size: 18px;
        &::placeholder {
            color: var(--light-primary);
        }
        &:active,
        &:focus {
            border: 1px solid var(--light-primary);
        }
    }
    &__btn {
        width: 100%;
        min-width: 100%;
        font-size: 18px;
        &:hover {
            transform: translateX(0) scale(1) translateY(0);
            transition: all 0.3s ease-in-out;
        }
    }
}

.pulse {
    animation: pulsate 2s infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
